@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Person>


<table>
    @if (Model != null)
    {
        foreach (var person in Model)
        {
            <tr>
                <td><a asp-controller="Person" asp-action="Details" asp-route-id="@person.Id">@person.Name</a></td>
                <!-- Add other relevant columns -->
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">No data available</td>
        </tr>
    }
</table>

